:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --primary-color: #4caf50;
  --bottom-sheet-bg: rgb(76 175 81 / 20%);

}

/* Светлая */
.theme-light {
  --bg-color: #ffffff;
  --text-color: #000000;
  --primary-color: #4caf50;
  --bottom-sheet-bg: rgb(76 175 81 / 20%);
}

/* Тёмная */
.theme-dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --primary-color: #bb86fc;
  --bottom-sheet-bg: rgb(187 134 252 / 20%);
}

/* Тёмно-зелёная */
.theme-dark-green {
  --bg-color: #0d1a0f;
  --text-color: #e0f2e9;
  --primary-color: #2e7d32;
  --bottom-sheet-bg: rgb(46 126 51 / 20%);
}