.homePage {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr;
  width: 100%;

  .header {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h1 {
      font-size: 2.5rem;
    }
  }

  .gamesList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .gameCard {
      background-color: var(--primary-color);
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition:
        transform 0.2s,
        box-shadow 0.2s;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        margin: 0 0 10px 0;
        font-size: 1.5rem;
      }

      p {
        margin: 0;
        font-size: 1rem;
      }

      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
      }
    }
  }
}
