.text {
  line-height: 1.4;
}

.normal {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}

/* размеры */
.xs  { font-size: 12px; }
.sm  { font-size: 14px; }
.md  { font-size: 16px; }
.lg  { font-size: 20px; }
.xl  { font-size: 24px; }
.xl2 { font-size: 28px; }
.xl3 { font-size: 32px; }
.xl4 { font-size: 36px; }
.xl5 { font-size: 40px; }
.xl6 { font-size: 48px; }