.switch {
  position: relative;
  width: 50px;
  height: 28px;
  border-radius: 14px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  padding: 0;

  display: flex;
  align-items: center;
}

.thumb {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.2s ease;
}

.checked {
  background-color: var(--primary-color);

  .thumb {
    transform: translateX(22px);
  }
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}